/*Search*/
.search_open {
	cursor: pointer;
}
.as-search {
	position: absolute;
    top: 100%;
    right: 14px;
    background: #fff;
    z-index: 9;
    width: 100%;
    padding: 15px;
    border: 1px solid #eee;
    display: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    width: 350px;
    max-width: 100%;
	.search_open {
		position: absolute;
		top: -40px;
		right: 0;
		display: none;
	}
	form {
		width: 1140px;
		margin: 0 auto;
		position: relative;
		max-width: 100%;
		.form-control {
			width: 100%;
			border: 1px solid #ddd;
			height: 50px;
			padding: 10px 50px 10px 20px;
			font-size: 16px;
			color: #333;
			box-shadow: none;
		}
		.btn {
			position: absolute;
			top: 1px;
			right: 1px;
			height: 48px;
			width: 48px;
			border: none;
			border-radius: 0;
			background: none;
			font-size:20px;
			opacity: 0.5;
			i {
				color: #000 !important;
				line-height: normal !important;
			}
		}
	}
}

.hm-search-open {
	.as-search {
		display: block;
	}
}

/*Search End*/


/*Top Bar*/
.o_header_affix {
	.cart_lines_popup,
	.top-header {
		display: none;
	}
}
/*Top Bar*/
.top-header {
	padding: 0;
	background: rgba(0, 0, 0, 0.02);
	border-bottom: 1px solid #eee;
	position: relative;
	z-index: 18;
	ul {
		margin: 0;
		padding: 0;
	}
	.htl-social {
		float: left;
		@media(max-width: 767px){
			display: none;
		}
		li {
		    margin-right: 10px;
		    display: inline-block;
		    vertical-align: middle;
		    list-style: none;
			a {
			    color: #4d5959;
			    font-size: 15px;
			    line-height: 50px;
			    padding: 0 2px;
			    display: inline-block;
			    vertical-align: top;
				&:hover {
					color:$as-theme;
				}
			}
		}
	}

	.ht-right {
		float:right;
		.h-col {
		    position: relative;
		    text-align: left;
		    width: 50px;
		    height: 50px;
		    line-height: 50px;
		    border-right: 1px solid #eee;
		    float: left;
		    &.h-search {
		    	position: static;
		    }
		    &.h-price,
		    &.h-lang {
		    	width: auto;
    			padding: 0 12px;
    			a.dropdown-toggle,
    			label {
				    font-size: 12px;
				    text-transform: uppercase;
				    color: #999;
				    font-weight: 600;
				    margin: 0;
				    cursor: pointer;
				    display:inline-block;
				    vertical-align:top;
    			}
		    }
		    .dropdown-menu {
		    	border:none;
		    	box-shadow: 0 13px 16px 1px rgba(0, 0, 0, 0.11);
		    	.dropdown-item {
		    		padding: 15px 15px;
		    		line-height:normal;
		    		i {
		    			display: inline-block;
					    width: auto;
					    vertical-align: baseline;
					    font-size: 14px;
					    line-height: normal;
		    		}
		    	}
		    }
		    .my_cart_btn {
		    	text-align: center;
		    	cursor: pointer;
		    	color: #323232;
		    }
		    i {
	    	    font-size: 17px;
			    line-height: 50px;
			    width: 100%;
			    text-align: center;
			    color: #4d5959;
			    cursor: pointer;
		    }
		    > a  {
		    	color: #323232;
		    }
			.my_wish_quantity,
			.my_cart_quantity {
				position: absolute;
			    top: 5px;
				right: 0;
			    font-weight: 400;
			    font-size: 9px;
			    min-width: 20px;
			    min-height: 20px;
			    line-height: 20px;
			    padding: 0;
			    border-radius: 50%;
			    z-index: 1;
			    background: $as-theme;
			    text-align: center;
			    color: #fff;
			}

			&:hover {
				> a,
				> i {
				 	color: $as-theme;
				}
			}
		}
	}
}

/*Toggle menu*/
header {
	position: relative;
	.mobile-toggle {
        position: absolute;
	    right: 15px;
	    bottom: 18px;
	    z-index: 17;
	}
}

/*/*/


header {
	.navbar {
	    background: #fff !important;
	    border: none;
	    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
	    padding:0;
	    z-index:16;
	    @media(max-width:767px){
	    	padding: 15px;
	    }
	    .navbar-toggler {
	    }
		.navbar-collapse {
			.navbar-nav {
				> li {
					&.divider,
					&#my_wish,
					&#my_cart {
						display: none;
					}
					@media(min-width: 768px){
						> a{
					        padding: 0 15px;
						    background: transparent;
						    font-size: 14px;
						    font-weight: 600;
						    color: #4d5959;
						    line-height: 90px;
						    display: block;
						    position: relative;
						    &:before {
						    	width:0px;
						    	content: "";
						    	position: absolute;
						    	bottom: 0;
						    	left: 0;
						    	right: 0;
						    	margin: auto;
						    	height: 3px;
						    	background: $as-theme;
						    	transition: ease all 0.3s;
						    	-webkit-transition: ease all 0.3s;
						    }
						    b {
						    	font-weight: 600;
						    }
							&:hover{
							    color: $as-theme !important;
								background: none !important;
							}
							&:focus,
							&:active{
								color: $as-theme !important;
								background: none !important;
							}
						}

						&:hover{
							> a {
								color: $as-theme !important;
								background: none !important;
								&:before {
									width:100%;
								}
								&:focus,
								&:active{
									color: $as-theme !important;
									background: none !important;
								}
							}
						}
						&.active{
							> a{
								color: $as-theme !important;
								background: none !important;
								&:before {
									width:100%;
								}
								&:hover,
								&:focus,
								&:active{
									color: $as-theme !important;
									background: none !important;
								}
							}
						}
					}
				}	
			}
		}
	}
}





/*/*/

@media(min-width: 768px) {
	li.mm-mega-menu {
		.mm-maga-main {
			border-top:1px solid #eee;
			&.mm-mega-cat-level {
				.mm-maga-main-width {
					padding: 0;	
				}
			}
		}
	}
	header .navbar-default .navbar-nav > li.dropdown .dropdown-menu {
		border-top: 1px solid #eee !important;
	}
}

.mob-main-nav-open {
	.top-header {
		z-index: 10;
	}
}